@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.title{
    color: rgb(31, 31, 199);
    font-family: 'Roboto Condensed', sans-serif;
    font-size:33px;
    text-transform: uppercase;
    margin-top: 20vh;
}